.floo
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/scopes/scope_settings.xml
.idea/testrunner.xml
.idea/vcs.xml
.idea/widely.iml
.idea/workspace.xml
widely.pyc
