.floo
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/scopes/scope_settings.xml
.idea/testrunner.xml
.idea/vcs.xml
.idea/widely.iml
.idea/workspace.xml
widely.pyc
kms.xml
widely.egg-info/dependency_links.txt
widely.egg-info/entry_points.txt
widely.egg-info/PKG-INFO
widely.egg-info/requires.txt
widely.egg-info/SOURCES.txt
widely.egg-info/top_level.txt
